<template>
  <div class="box">
    <div class="boxSite">
      <h1>Magic Website</h1>
      <span>Komunitas anti riba</span>
    </div>
    <div class="boxWrapper">
      <div class="boxLeft">
        <div class="boxLeftOverlay">
          <div class="boxHeading">
            <h2>Bikin website lebih mudah dan tanpa ribet ini itu sana sini. Buktikan sendiri aja!!</h2>
          </div>
        </div>
      </div>
      <div class="boxRight">
        <!-- Step one -->
        <div class="boxRightContainer" v-if="step.one">
          <div class="boxStep">
            <h3>Silahkan pilih tipe website yang anda inginkan.</h3>
          </div>
          <div class="boxInput">
            <div>
              <md-radio v-model="stepInput.typeWebsite" value="Barang">Barang <small>(Best)</small></md-radio>
              <md-radio v-model="stepInput.typeWebsite" value="Jasa">Jasa</md-radio>
              <md-radio v-model="stepInput.typeWebsite" value="Makanan">Makanan</md-radio>
              <md-radio v-model="stepInput.typeWebsite" value="Hijab">Hijab</md-radio>
              <md-radio v-model="stepInput.typeWebsite" value="Fotografi">Fotografi</md-radio>
              <md-radio v-model="stepInput.typeWebsite" value="Travel">Travel</md-radio>
            </div>
          </div>
          <div class="boxAction">
            <!-- <button type="button" class="prev">Sebelumnya</button> -->
            <button type="button" class="md-raised next" @click="nextOne">Selajutnya</button>
          </div>
        </div>
        <!--/ Step one -->
        <!-- Step Two -->
        <div class="boxRightContainer" v-if="step.two">
          <div class="boxStep">
            <h3>Pilih fitur website yang anda inginkan.</h3>
          </div>
          <div class="boxInput">
            <div>
              <md-checkbox v-model="stepInput.websiteFeatures" value="Toko online">Toko online</md-checkbox>
              <md-checkbox v-model="stepInput.websiteFeatures" value="Travel">Travel</md-checkbox>
              <md-checkbox v-model="stepInput.websiteFeatures" value="Umroh">Umroh</md-checkbox>
              <md-checkbox v-model="stepInput.websiteFeatures" value="Blog">Blog</md-checkbox>
            </div>
          </div>
          <div class="boxAction">
            <button type="button" class="prev" @click="prevOne">Sebelumnya</button>
            <button type="button" class="md-raised next" @click="nextTwo">Selajutnya</button>
          </div>
        </div>
        <!--/ Step Two -->
        <!-- Step Three -->
        <div class="boxRightContainer" v-if="step.three">
          <div class="boxStep">
            <h3>Apa nama bisnis atau nama website?</h3>
          </div>
          <div class="boxInput">
            <div>
              <md-field>
                <label>Nama bisnis atau nama website</label>
                <md-input v-model="stepInput.websiteName" maxlength="150"></md-input>
              </md-field>
            </div>
          </div>
          <div class="boxAction">
            <button type="button" class="prev" @click="prevTwo">Sebelumnya</button>
            <button type="button" class="md-raised next" @click="nextThree">Selajutnya</button>
          </div>
        </div>
        <!--/ Step Three -->
        <!-- Step Four -->
        <div class="boxRightContainer" v-if="step.four">
          <div class="boxStep">
            <h3>Isi informasi website anda.</h3>
          </div>
          <div class="boxInput">
            <div>
              <md-field>
                <label>Email</label>
                <md-input v-model="stepInput.email" type="email"></md-input>
              </md-field>
              <md-field>
                <label>Hp</label>
                <md-input v-model="stepInput.phone" type="number"></md-input>
              </md-field>
              <md-field>
                <label>Alamat</label>
                <md-textarea v-model="stepInput.address"></md-textarea>
              </md-field>
              <md-field>
                <label>Deskripsi Perusahaan</label>
                <md-textarea v-model="stepInput.description"></md-textarea>
              </md-field>
            </div>
          </div>
          <div class="boxAction">
            <button type="button" class="prev" @click="prevThee">Sebelumnya</button>
            <button type="button" class="md-raised next" @click="nextFour">Selajutnya</button>
          </div>
        </div>
        <!--/ Step Four -->
        <!-- Step Five -->
        <div class="boxRightContainer" v-if="step.five">
          <div class="boxStep">
            <h3>Silahkan pilih domain yang anda inginkan / anda dapat melewati step ini.</h3>
          </div>
          <div class="boxInput">
            <div>
              <md-field>
                <label>Domain</label>
                <md-input v-model="stepInput.domain" type="text"></md-input>
              </md-field>
            </div>
          </div>
          <div class="boxAction">
            <button type="button" class="prev" @click="prevFour">Sebelumnya</button>
            <button type="button" class="md-raised next" @click="nextFive">Selanjutnya</button>
          </div>
        </div>
        <!--/ Step Five -->
        <!-- Step Six -->
        <div class="boxRightContainer" v-if="step.six">
          <div class="boxStep">
            <h3>Brikut adalah informasi tentang website anda:</h3>
          </div>
          <div class="boxInput">
            <div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>Tipe Website</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.typeWebsite}}</span>
                </div>
              </div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>Fitur</span>
                </div>
                <div class="boxInfoContent">
                    <md-chips :value="stepInformation.websiteFeatures" md-static></md-chips>
                </div>
              </div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>Nama Website</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.websiteName}}</span>
                </div>
              </div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>Email</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.email}}</span>
                </div>
              </div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>No HP / Telepon</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.phone}}</span>
                </div>
              </div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>Alamat</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.address}}</span>
                </div>
              </div>
              <div class="boxInfo">
                <div class="boxInfoSub">
                  <span>Deskripsi Perusahaan</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.description}}</span>
                </div>
              </div>
              <div class="boxInfo" v-if="stepInformation.domain !== ''">
                <div class="boxInfoSub">
                  <span>Domain</span>
                </div>
                <div class="boxInfoContent">
                  <span>{{stepInformation.domain}}</span>
                </div>
              </div>
            <br>
            <md-checkbox v-model="stepInput.faq">Dengan ini saya menyetujui semua persyaratan</md-checkbox>
            </div>
          </div>
          <div class="boxAction">
            <button type="button" class="prev" @click="prevFive">Sebelumnya</button>
            <button type="button" class="md-raised next" @click="nextSix">Simpan</button>
          </div>
        </div>
        <!--/ Step Six -->
        <!-- Step Six -->
        <div class="boxRightContainer" v-if="step.final">
          <div class="boxStep">
            <h3>Terima Kasih</h3>
            <p>Kami akan mereview informasi yang talah anda kirim</p>
          </div>
        </div>
        <!--/ Step Six -->
      </div>
    </div>

    <md-snackbar :md-position="notify.position" :md-duration="notify.isInfinity ? Infinity : notify.duration" :md-active.sync="notify.showSnackbar" md-persistent>
      <span>{{notify.message}}</span>
      <span @click="notify.showSnackbar = false">Close</span>
    </md-snackbar>

  </div>
</template>

<script>
  export default {
    name: 'Index',
    data() {
      return {
        notify: {
          showSnackbar: false,
          position: 'center',
          duration: 4000,
          isInfinity: false,
          message: '',
        },

        step: {
          one: true,
          two: false,
          three: false,
          four: false,
          five: false,
          six: false,
          final: false,
        },
        stepInput: {
          typeWebsite: '',
          websiteFeatures: [],
          websiteName: '',
          email: '',
          phone: '',
          address: '',
          description: '',
          domain: '',
          faq: null,
        },
        stepInformation: null,
      }
    },
    mounted() {
      const info = localStorage.getItem('step')
      if(info) {
        this.stepInput = JSON.parse(info)
        this.stepInformation = JSON.parse(info)
        if(this.stepInput.faq) {
          this.step.one = false
          this.step.final = true
        } else if(this.stepInput.domain !== '') {
          this.step.one = false
          this.step.six = true
        } else if(this.stepInput.description !== '') {
          this.step.one = false
          this.step.five = true
        } else if(this.stepInput.websiteName !== '') {
          this.step.one = false
          this.step.four = true
        } else if(this.stepInput.websiteFeatures.length !== 0) {
          this.step.one = false
          this.step.three = true
        } else if(this.stepInput.typeWebsite !== '' ) {
          this.step.one = false
          this.step.two = true
        } else {
          this.step.one = true
        }
      }
    },
    methods: {
      nextOne() {
        if(this.stepInput.typeWebsite !== '') {
          localStorage.setItem('step', JSON.stringify(this.stepInput))
          this.step.one = false
          this.step.two = true
        } else {
          this.notify.showSnackbar = true
          this.notify.message = 'Pelase select one!'
        }
      },
      prevOne() {
        this.step.two = false
        this.step.one = true
      },
      nextTwo() {
        if(this.stepInput.websiteFeatures.length !== 0) {
           localStorage.setItem('step', JSON.stringify(this.stepInput))
          this.step.two = false
          this.step.three = true
        } else {
          this.notify.showSnackbar = true
          this.notify.message = 'Pelase select one!'
        }
      },
      prevTwo() {
        this.step.three = false
        this.step.two = true
      },
      nextThree() {
        if(this.stepInput.websiteName !== '') {
          localStorage.setItem('step', JSON.stringify(this.stepInput))
          this.step.three = false
          this.step.four = true
        } else {
          this.notify.showSnackbar = true
          this.notify.message = 'Pelase input your website name'
        }
      },
      prevThee() {
        this.step.four = false
        this.step.three = true
      },
      nextFour() {
        if(this.stepInput.email !== '' && this.stepInput.phone && this.stepInput.address && this.stepInput.description !== '') {
          localStorage.setItem('step', JSON.stringify(this.stepInput))
          this.step.four = false
          this.step.five = true
        } else {
          this.notify.showSnackbar = true
          this.notify.message = 'Pelase input all field'
        }
      },
      prevFour() {
        this.step.five = false
        this.step.four = true
      },
      nextFive() {
        localStorage.setItem('step', JSON.stringify(this.stepInput))
        this.step.five = false
        this.step.six = true
        const info = localStorage.getItem('step')
        this.stepInformation = JSON.parse(info)
      },
      prevFive() {
        this.step.six = false
        this.step.five = true
      },
      nextSix() {
        if(this.stepInput.faq) {
          localStorage.setItem('step', JSON.stringify(this.stepInput))
          this.step.six = false
          this.step.final = true
          localStorage.setItem('regs_', true)
        } else {
          this.notify.showSnackbar = true
          this.notify.message = 'Pelase check our faq'
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .box {
    position: relative;
    height: 100vh;
    @media screen and(max-width: 768) {
      height: auto;
    }
    &Site {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      z-index: 10;
      h1 {
        font-size: 32px;
        padding: 15px;
        color: rgba(254, 254, 254, 0.66);
        font-weight: 400;
      }
      span {
        font-size: 16px;
        padding: 15px;
        color: rgba(254, 254, 254, 0.66);
        font-weight: 100;
        position: relative;
        top: -25px;
      }
    } 
    &Wrapper {
      display: flex;
      justify-content: space-between;
      height: 100vh;
      @media screen and(max-width: 768px) {
        display: block;
        height: auto;
      }
    }
    &Left {
      position: relative;
      background-image: url('../assets/pexels-photo-1450077.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      flex: 1;
      height: 100vh;
      @media screen and(max-width: 768px) {
        height: 200px;
      }
    }
    &LeftOverlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9;
      background: linear-gradient(to top, rgb(97, 97, 97), rgba(167, 22, 22, 0.62) 80%);
    }
    &Right {
      position: relative;
      flex: 1;
    }
    &RightContainer {
      padding: 15px;
      position: relative;
      height: 100%;
      max-width: 550px;
      margin: auto;
    }
    &Step {
      padding: 15px;
      h3 {
        font-size: 30px;
        letter-spacing: -1px;
        font-weight: 100;
        line-height: 1;
        @media screen and(max-width: 768px) {
          font-size: 24px;
        }
      }
    }
    &Heading {
      position: absolute;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      padding: 15px;
      width: 100%;
      max-width: 400px;
      @media screen and(max-width: 768px) {
        position: relative;
        display: none;
      }
      h2 {
        font-size: 28px;
        color: rgba(242, 242, 242, 0.69);
        font-weight: 100;
        letter-spacing: -1.5px;
        line-height: 1.1;
      }
    }
    &Input {
      position: absolute;
      left: auto;
      top: 50%;
      z-index: 10;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      padding: 15px;
      width: 100%;
      @media screen and(max-width: 768px) {
        position: relative;
        top: unset;
        left: unset;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
      }
    }
    &Action {
      position: absolute;
      right: 15px;
      bottom: 40px;
      z-index: 10;
      @media screen and(max-width: 768px) { 
        position: relative;
        margin-top: 80px;
        margin-bottom: 40px;
        float: right;
      }
      .next {
        outline: none;
        padding: 8px 30px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid rgba(167, 22, 22, 0.3);
        color: rgba(167, 22, 22, 0.4);
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgba(167, 22, 22, 0.9);
          color: rgba(167, 22, 22, 0.9);
          margin-left: 10px;
        }
      }
      .prev {
        outline: none;
        padding: 5px 20px;
        font-size: 12px;
        background-color: #f2f2f2;
        border: none;
        color: rgba(34, 34, 34, 0.30);
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgba(167, 22, 22, 0.9);
          color: rgba(167, 22, 22, 0.9);
          margin-left: 10px;
        }
      }
    }
    &Info {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      align-items: center;
    }
    &InfoSub {
      font-size: 16px;
      opacity: 0.7;
      max-width: 180px;
    }
    &InfoContent {
      font-size: 16px;
      .md-field {
        margin: 0!important;
      }
      .md-field:after, .md-field:before {
        content: none!important;
      }
    }
  }
  .md-radio, .md-checkbox {
    display: flex;
  }
  .md-snackbar.md-theme-default {
    color: rgb(48, 45, 45)!important;
    color: var(--md-theme-default-text-primary-on-text-primary, #fff);
    background-color: #ededed;
  }
  .md-snackbar.md-position-center {
    margin: 0 auto;
    right: 0;
    bottom: 20px!important;
    left: 0;
  }
  .md-snackbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0), 0 6px 10px 0 rgba(0, 0, 0, 0.06), 0 1px 18px 0 rgba(0, 0, 0, 0)!important;
    min-width: 288px;
    max-width: 568px;
    min-height: 48px;
    max-height: 80px;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 14;
    transition: .4s cubic-bezier(.4,0,.2,1);
    will-change: background-color,color,opacity,transform;
    border-radius: 30px;
  }
</style>